<ion-header>
  <ion-toolbar>
    <!--boton volver-->
    <ion-buttons slot="start">
      <ion-back-button color = "warning" defaultHref="productos"></ion-back-button>
    </ion-buttons>
    <ion-title color="warning">Actualizar figura</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-content>
          <ion-input type="text" [(ngModel)]="datos.nombre" #nombre ></ion-input>
          <ion-input type="text" [(ngModel)]="datos.imagenURL" #imagenURL></ion-input>
          <ion-input type="text" [(ngModel)]="datos.comentarios"#comentarios ></ion-input>
          <ion-input type="number" [(ngModel)]="datos.precios" #precios></ion-input>
          <ion-input type="number" [(ngModel)]="datos.stock" #stock></ion-input>
          


          <ion-select [(ngModel)]="datos.categorias" #combo placeholder="Seleccione tipo de producto" interface="popover">
            <ion-select-option *ngFor= "let l of listadoCategorias" [value] = "l.Genero" > {{l.Genero}} </ion-select-option>

          </ion-select>





          <ion-label>          
            Incluye partes intercambiable

          <ion-checkbox [(ngModel)]="datos.check" #check></ion-checkbox>
          </ion-label>

        



          <ion-button color="warning" (click)="actualizarProducto(nombre,comentarios,precios,stock,combo,check)"> Actualizar</ion-button>
        </ion-card-content>
      </ion-card>


    </ion-col>


  </ion-row>

</ion-content>
