<ion-header>
  <ion-toolbar>
    <!--boton volver-->
    <ion-buttons slot="start">
      <ion-back-button color = "warning" defaultHref="productos"></ion-back-button>
    </ion-buttons>
    <ion-title color="warning">Agregar una nueva figura</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-content>
          <ion-input type="text" placeholder="Ingrese el nombre de figura:" #nombre ></ion-input>
          <ion-input type="text" placeholder="Ingrese la URL de la imagen:" #imagenURL ></ion-input>
          <ion-input type="text" placeholder="Ingrese un comentario:" #comentarios ></ion-input>
          <ion-input type="number" placeholder="Ingrese precio:" #precios ></ion-input>
          <ion-input type="number" placeholder="Ingrese stock:" #stock ></ion-input>

          <ion-select placeholder="Seleccione tipo de producto" #combo interface="popover">
            <ion-select-option *ngFor= "let l of listado" [value] = "l.Genero" > {{l.Genero}} </ion-select-option>

          </ion-select>

          <ion-label>          
            Incluye partes intercambiable

          <ion-checkbox #check></ion-checkbox>
          </ion-label>


          <ion-button color="warning" (click)="agregarProducto(nombre,imagenURL,comentarios,precios,stock,combo,check)"> Agregar</ion-button>
        </ion-card-content>
      </ion-card>


    </ion-col>


  </ion-row>

</ion-content>
